/* Object fit cover */
/* box shadow */
@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}
header, footer {
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    max-width: 100%;
}
ul{
    list-style: none;
    padding-left: 0;
    
}
.hide{
    display: none;
}
button{
    background-color: var(--primary-color);
    border: 0;
    color: white;
}
p{
    text-align: center;
    font-size: 2em;
    font-family: var(--secondary-font);
}
#gallery img {
    justify-content: center;
    max-width: 250px;
    object-fit: cover;
}
#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 10;
}
#modal img {
    margin: 16vh auto;
    width: 80%;
    height: 100%;
}
.closeViwer{
    position: absolute;
    top:16vh
}
#gallery{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0 auto;
}
@media screen and (min-width: 701px){
    #gallery{
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

}
@media screen and (min-width: 1001px){
    #gallery{
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
li {
    display: inline-block;
}
    button{
        display: none;
    }
}