:root{
--primary-color: white;
--secondary-color: rgb(173, 37, 37) ;
--accent-color: #f45b69;
--text-dark: var(--secondary-color);
--text-light: var(--primary-color);
--primary-font: Arial, Helvetica,sans-serif;
}
#title{
    text-align: center;
}
header {
    font-family: var(--primary-font);
    font-size: 1.4rem;
    background-color: var(--secondary-color);
    text-align: right;
    color: var(--primary-color);
    max-width: 100%;
    padding: .5rem;
}
#nav{
    list-style: none;
    padding-left: 0;
}
li {
    display: inline;
    padding: 1.4fr;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    margin: 10px;
    border: 3px solid var(--accent-color);
}
#rating{
    grid-column: 1;
    border: 3px solid var(--accent-color);

}
#bookscroll{
    grid-column: 2;
    border: 3px solid var(--accent-color);
}